<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
      <h1>Welcome to the Todo List Manager</h1>
      <p>Here you can see all existing tasks</p>
  <ul>
    {% for t in result %}
        <li>{{ t[1] }}</li> <p><a href="{{ url_for('delete',id_task=t[0]) }}">Delete</a> </p>
    {% endfor %}
  </ul>

<form action="{{ url_for('new_task') }}" method="post"> <!form specifies how the form is sent to the server [POST] and 'action' is the name of the page called when submitting the form>
  <p>Insert a new Task:
      <input type="text" name="task"/> <!insert the user name>
      <input type="submit" class="btn btn-primary" value="Enter"/>
  </p>
</form>

</body>
</html>